# env
.env
*.env
**/*.env*
!docs/**/*.*
!**/*.example
/node_modules/

# node / vite
node_modules/
**/node_modules/
dist/
**/dist/

# python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
api/.venv/
api/credentials/
