# root
.env
*.env
*.env.local
**/.env.production
**/.env.development

# node / vite
node_modules/
**/node_modules/
dist/
**/dist/

# python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
api/.venv/

# misc
.DS_Store
.vscode/
.idea/
*.log
